@import './topbar.scss';
@import './search.scss';
.m-header{
  @at-root .layout-default{
    .el-header{
      .m-header {
        width: 100%;
      }
    }
  }
  >.el-row:nth-child(1){
    width: 1190px;
    margin: 0 auto;
    z-index: 9999;
    height: 40px;
    line-height: 40px;
  }
  >.el-row:nth-child(2){
    background: #fff;
    .search-panel{
      width: 1190px;
      margin: 0 auto;
    }
  }
  >.el-main {
    overflow: unset;
  }
}

.real{
  box-shadow: 0 2px 27px 0 rgba(0,0,0,.1);
  padding-bottom: 10px;
}
//更接近美团网原生