.m-hcity {
  dl {
    display: flex;

    dt {
      font-size: 16px;
      color: #333;
      font-weight: 500;
    }

    dd {
      margin: 0 20px;
      color: #666;
      line-height: 22px;
    }

    a{
      color: #666
    }

    a:hover{
      color: #13D1BE
    }
  }
}